/* 넓이 1440  콘텐츠 1200  */
/* font-family: 'Montserrat', sans-serif; */
/* 노토산스 400 레귤러 500미디움 700볼드 900엑스트라볼드 */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&family=Noto+Sans+KR:wght@400;500;700;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
}

/* 헤더 */
.header {
    width: 100%;
    height: 80px;
    background-color: #202b41;
}

.header .center_box {
    display: flex;
    width: 1200px;
    margin: 0 auto;
}

.header .logo {
    margin-right: 400px;
}

.header .logo img {
    width: 60px;
    height: 60px;
    display: block;
    margin-top: 11px;
}

.header .nav {
    width: 1200px;
    height: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.header .nav li {
    font-weight: 500;
}
/* 헤더 끝 */

/* design */
.design {
    /* height: 1230px; */
    width: 1200px;
    margin: 0 auto;
    padding-top: 130px;
    margin-bottom: 130px;
}

.design > h2 {
    font-size: 40px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    color: #202b41;
    text-align: center;
    margin-bottom: 130px;
}

.design .sub_title {
    display: flex;
}

.design .sub_title h2 {
    font-size: 24px;
    font-weight: 500;
}

.design .banner {
    margin-bottom: 100px;
}

.design .banner .sub_title {
    position: relative;
}

.design .banner .sub_title img {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    width: 20px;
    height: 20px;
}

.design .banner .sub_title h2 {
    padding-left: 30px;
}

.design .banner .title_border {
    border: 1px solid #202b41;
    width: 138px;
    height: 1px;
    margin-bottom: 70px;
}

.design .banner .imges {
    display: flex;
    justify-content: space-between;
}

.design .banner .imges img {
    width: 350px;
    height: 350px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 10px;
}

.design .event .sub_title {
    position: relative;
}

.design .event .sub_title img {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    width: 20px;
    height: 20px;
}

.design .event .sub_title h2 {
    padding-left: 30px;
}

.design .event .title_border {
    border: 1px solid #202b41;
    width: 180px;
    height: 1px;
    margin-bottom: 70px;
}

.design .event .imges {
    display: flex;
    justify-content: space-between;
}

.design .event .imges img {
    width: 350px;
    height: 330px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 10px;
}

.border {
    border: 1px solid #e9e9ec;
}
/* footer */
.footer {
    width: 1200px;
    height: 160px;
    margin: 0 auto;
}

.footer p {
    font-size: 16px;
    font-weight: 400;
    color: #ccc9c9;
    text-align: center;
    padding-top: 52px;
}

.footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.footer ul .mid_icon {
    padding: 0 40px;
}

/* gotop */
.gotop {
    position: fixed;
    right: 30px;
    bottom: 30px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 26px;
    background-color: #fff;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    display: none;
    z-index: 99;
}
